/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  header {
    background-color: gold;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: maroon;
    text-decoration: none;
  }
  
  .hero {
    background-image: url('.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  footer {
    background-color: gold;
    color: maroon;
    padding: 10px;
    text-align: center;
  }
  body{
    background-color: maroon;
  }
  h1{
    color: gold;
  }
  h3{
    color: gold;
  }